<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="game.style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="game.script1.js" defer type="module"></script>

    <title>Game</title>
  </head>
  <body>
    <!-- <div id="game-board"></div> -->
    <canvas height="700px" width="1200px" id="snake-canvas"></canvas>
  </body>
</html>
