<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="game.style.css" />
    <link
      rel="icon"
      type="image/png"
      href="https://images-na.ssl-images-amazon.com/images/I/61d20J0IsZL.png"
    />
    <script src="/socket.io/socket.io.js"></script>
    <script src="game.script.js" defer type="module"></script>

    <title>Game</title>
  </head>
  <body>
    <canvas height="700px" width="1200px" id="snake-canvas"></canvas>
  </body>
</html>
