body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  margin: 0;
  background-color: #000;
}
#game-board {
  background-color: #ccc;
  height: 700px;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(35, 1fr);
}
.snake {
  background-color: hsl(200, 100%, 50%);
  border-radius: 30%;
}
.food {
  background: url('./apple.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.head {
  background-color: hsl(200, 100%, 28%);
}
.tail-top {
  border-top-left-radius: 20px 30px;
  border-top-right-radius: 20px 30px;
}
.tail-bottom {
  border-bottom-left-radius: 20px 30px;
  border-bottom-right-radius: 20px 30px;
}
.tail-left {
  border-bottom-left-radius: 30px 20px;
  border-top-left-radius: 30px 20px;
}
.tail-right {
  border-bottom-right-radius: 30px 20px;
  border-top-right-radius: 30px 20px;
}
.eyes {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eyes-top {
  transform: rotate(180deg);
}
.eyes-left {
  transform: rotate(90deg);
}
.eyes-right {
  transform: rotate(-90deg);
}
